<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Página de Inicio</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../static/inicio.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet" />
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="navbar-brand">
        <h3>💌 Página De Inicio Para Mi Amor 💖</h3>
      </div>
      <button class="hamburger" id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul class="navbar-menu" id="navbar-menu">
        <li><a href="/teamo"><i class="fas fa-heart"></i> Te Amo</a></li>
        <li><a href="/canciones"><i class="fas fa-music"></i> Canciones</a></li>
        <li><a href="/tiempo"><i class="fas fa-clock"></i> Tiempo Juntos</a></li>
        <li><a href="/rompe"><i class="fas fa-puzzle-piece"></i> Rompecabezas</a></li>
      </ul>
    </nav>
  </header>
  <div class="imgs">
  </div>

  <script>
    const toggle = document.getElementById('menu-toggle');
    const menu = document.getElementById('navbar-menu');

    toggle.addEventListener("click", () => {
      menu.classList.toggle('active');
    });

     
  </script>
</body>
</html>
