<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Iniciar secion </h1>
    <section>
        <article>
            <form action="/login" method="post">
                <input name="usuario" type="text">
                <input name="contraseña" type="password">
                <button>INiciar secion</button>
            </form>
        </article>
    </section>
</body>
</html>